<launch>
  <!-- Lidar driver -->
  <node name="rplidar_node"
        pkg="rplidar_ros"
        type="rplidarNode"
        output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <!-- SLAM -->
  <node name="slam_gmapping"
        pkg="gmapping"
        type="slam_gmapping"
        output="screen">
    <param name="base_frame"          type="string" value="base_link"/>
    <param name="odom_frame"          type="string" value="odom"/>
    <param name="map_update_interval" type="double" value="2.0"/>
    <param name="maxUrange"           type="double" value="16.0"/>
    <param name="sigma"               type="double" value="0.05"/>
    <param name="kernelSize"          type="int"    value="1"/>
    <param name="lstep"               type="double" value="0.05"/>
    <param name="astep"               type="double" value="0.05"/>
    <param name="iterations"          type="int"    value="5"/>
    <param name="lsigma"              type="double" value="0.075"/>
    <param name="ogain"               type="double" value="3.0"/>
    <param name="minimumScore"        type="int"    value="100"/>
  </node>

  <!-- Map saver -->
  <node name="map_saver"
        pkg="map_server"
        type="map_saver"
        args="-f $(find slam_mapping)/maps/my_map">
    <param name="frame_id" value="map"/>
  </node>
</launch>

